In [ ]:
DATA FRAMES: MOST USED DATATYPE

In [2]:
import numpy as np
import pandas as pd

In [ ]:
General  syntax of data frames:
    
Pandas.DataFrame(data,index,column,dtype,copy)

In [ ]:
CREATING AN  EMPTY  DATAFRAME:

In [3]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
data=['gul','kaak','farooq','jasir']
df=pd.DataFrame(data)
print(df)

        0
0     gul
1    kaak
2  farooq
3   jasir

In [12]:
data=[['uruss',71],['afnan',43],['tasir',22]]
df=pd.DataFrame(data,columns=['Name','Marks'])
print(df)

    Name  Marks
0  uruss     71
1  afnan     43
2  tasir     22

In [11]:
data={'name':['afnan','ram','lakhan','zaid'],'age':[12,13,14,15]}
df=pd.DataFrame(data)
print(df)

     name  age
0   afnan   12
1     ram   13
2  lakhan   14
3    zaid   15

In [16]:
data=[['uruss',71],['afnan',12],['tasir',22]]
df=pd.DataFrame(data,columns=['Name','Marks'],dtype=float)
print(df)

    Name  Marks
0  uruss   71.0
1  afnan   12.0
2  tasir   22.0

In [18]:
data=[['uruss',71],['afnan',43],['tasir',22]]
df=pd.DataFrame(data,columns=['Name','Marks'],dtype=float,index=['rank1','rank2','rank3'])
print(df)

        Name  Marks
rank1  uruss   71.0
rank2  afnan   43.0
rank3  tasir   22.0