In [ ]:
print('hello world')

In [1]:
my_students=('ashok','ravi','harish','afnan')
print(my_students)

('ashok', 'ravi', 'harish', 'afnan')

In [4]:
len(my_students)

4

In [ ]:
understanding for loops:

In [17]:
students=('afnan','hina','zaid','waqar')
for students in students:
    print(students)

afnan
hina
zaid
waqar

In [ ]:
req:sending the appreciation message

In [49]:
for z in students:
    print(f" Appreciate your work for the society {z}")

 Appreciate your work for the society r

In [35]:
for student in students:
    print(f" Appreciate your work buddy {student}")
    print(f" Good luck for the future {student}.\n")
print("Thankyou")

 Appreciate your work buddy r
 Good luck for the future r.

Thankyou

In [ ]:
SIR WHY IS IT NOT  SHOWING ME THE ITERATIONS WITH THE NAME OF EACH  STUDENT IN THE OUTPUT???

In [ ]:
Numerical list:

In [36]:
for value in range (1,31):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
req:print only even num from 1-30

In [38]:
even_num=list(range(2,30,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [45]:
digits=(1,2,3,4,5,6,7,8,9,12,13,14)
print(digits)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14)

In [46]:
min(digits)

1

In [47]:
sum(digits)

84

In [56]:
my_cars=('figo','alto','i10','santro')
print(my_cars)

('figo', 'alto', 'i10', 'santro')

In [57]:
print(my_cars[0:2])

('figo', 'alto')

In [62]:
print(my_cars[0:4:3])

('figo', 'santro')

In [68]:
print(my_cars[0:4:2])

('figo', 'i10')

In [79]:
squares=[x**3 for x in range (1,25)]
print(squares)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824]

In [73]:
dimensions=(250,50,30)
print(dimensions)

(250, 50, 30)

In [74]:
type(dimensions)

tuple

In [75]:
print (dimensions[1])

50

In [77]:
for x in dimensions:
    print(x)

250
50
30